:root {
    --main-bg-color: #0b0c06;
    --main-color: #fff;
    --sub-color: #ffd747;
    --ter-color: #e7c292;

    --font-main-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    --font-sub-family: 'Montserrat', sans-serif;
    /* "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif; */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xll: 1400px;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('assets/fonts/Montserrat-Light.ttf');
    font-weight: lighter;
    font-style: normal;
    font-display: block;
}
