:root {
    --main-bg-color: #0b0c06;
    --main-color: #fff;
    --sub-color: #ffd747;
    --ter-color: #e7c292;

    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xll: 1400px;
}
